<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTTP Cat Mockup</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>

<body>
    <div id="center">
        <h1>Your Status:</h1>
        <img src='https://http.cat/{{code}}.jpg'>
        <p>This <a href="https://http.cat/">Project</a> was copied by <a href="https://kevinriexinger.de">Kevin
                Riexinger.</a></p>
    </div>
</body>

</html>